{% extends "layout.twig" %}

{% block navside %}

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Welcome to my blog</a>
            </div>
            
    
    <!-- Collect the nav anchorlinks, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="{{ urls.blog }}">Voir les derniers posts</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ urls.blogadd }}">Nouveau post</a>
                </li>
                <li>
                    <a class="page-scroll" href="#"></a>
                </li>
            </ul>
        </div>
    <!-- /.navbar-collapse -->
            
    <!-- Collect the nav menu links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{{ urls.home }}">Retour a l'accueil</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    <!-- /.container-fluid -->
    </nav>
   
{% endblock %}

{% block header %}

{% if section == "blogadd" or section == "blogedit"  %}

{% include 'form.twig' %}

{% elseif section == "blogpost" %}
<br/>{#bad design temporary for test #}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
    <table>
      <tr><th>Titre</th><th>accroche</th><th>Contenu</th><th>Auteur</th><th>Dernière modification</th><th>lien</th></tr>
        <tr>
            <td>
                {{ contentpost.post_title }} 
            </td>
            <td>
                {{ contentpost.post_catchphrase }}
            </td>
            <td>
                {{ contentpost.post_content }}
            </td>
            <td>
                {{ contentpost.author_name }}
            </td>
            <td>
                le {{ contentpost.post_modified | date('d/m/Y à H:i:s') }}
            </td>
            
            <td>
               <a href="{{ urls.blogedit }}{{ post_id }}">éditer le post</a> {# direct to the url of the post in specifying its post_id for edit it #}
            </td>
        </tr>
       
    </table>
    
{% else %}
    <br/>{#bad design temporary for test #}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
    <p style="text-align: center">Il y a actuellement {{ postcount }} post(s). En voici la liste :</p>
    
    <table>
      <tr><th>Titre</th><th>Dernière modification</th><th>accroche</th><th>lien</th></tr>
        
        {% for p in lastpost %}
        <tr>
            <td>
                {{ p.post_title }}
            </td>
            <td>
               le {{ p.post_modified | date('d/m/Y à H:i:s') }}
            </td>
            <td>
                {{ p.post_catchphrase }}
            </td>
            <td>
               <a href="{{ urls.blogpost }}{{ p.post_id }}">lire le post</a> {# direct to the url of the post in specifying its post_id #}
            </td>
        </tr>
        {% endfor %}
    </table>

{% endif %}

{% endblock %}

{% block page %}
{% endblock %}

{% block footer %}

{% endblock %}